body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #fff;
  }
  
  
  header {
    background-color: #333;
    padding: 32px;
  }
  
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .foto-perfil img {
    width: 150px;
    height: 150px;
    
    border: 4px solid #f8c700;
  }
  
  
  .datos-perfil h1 {
    font-size: 40px;
    margin: 0;
  }
  
  
  .datos-perfil p {
    font-size: 19px;
  }
  
  
  .descripcion {
    margin-top: 8px;
    font-style: italic;
  }
  
  
  .redes-sociales a {
    color: #f8c700;
    font-size: 24px;
    margin-right: 10px;
  }
  
  
  section {
    padding: 32px;
    margin: 32px 0;
    background-color: #2b2b2b;
    border-radius: 8px;
  }
  
  
  section h2 {
    font-size: 29px;
    color: #f8c700;
    display: flex;
    align-items: center;
  }
  
  
  section h2 i {
    margin-right: 10px;
  }
  
  
  article {
    margin-top: 16px;
  }
  
  
  .skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  
  .skills div {
    width: 48%;
  }
  
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  
  ul li {
    padding: 5px 0;
  }
  
  
  form {
    margin-top: 16px;
  }
  
  
  input[type="email"],
  textarea {
    padding: 13px;
    border-radius: 5px;
    border: 1px solid #f8c700;
    background-color: #333;
    color: #fff;
    width: 100%;
  }
  
  
  textarea {
    resize: none;
  }
  
  
  button {
    background-color: #f8c700;
    color: #333;
    padding: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 16px;
  }
  
  
  
  
  footer {
    background-color: #333;
    text-align: center;
    padding: 24px;
  }
  